<apex:page showHeader="false" sidebar="false">
<!--<marquee behavior="scroll" scrollamount="4" direction="left"> -->
 <Center>
<table style="border:none;">
    <tr>
       
       
       <td >
        <Center>
           <h2 style="color:red;"><font size="5">Salesforce จะทำการปิดระบบ ในวันที่ 10 - 19 ตุลาคม 2560  ตั้งแต่เวลา 21.00 น. - 07.00 น. ของทุกวัน              
           </font></h2><br/>
           <h2 style="color:red;"><font size="5">
           เพื่อทำการปรับปรุงระบบ จึงของดให้บริการในช่วงเวลาดังกล่าว ขออภัยมา ณ ที่นี้          
           </font></h2>
         </Center> 
        </td>  
        <!--      
        <td>
           <h4 style="color:red;"><font size="6">วันที่ 9 มิ.ย. เวลา 23.00 น. - 10 มิ.ย. 2560 เวลา 10.00 น. Salesforce มีการปรับปรุงระบบอาจส่งผลให้ไม่สามารถ generate cover sheet และดู Product Holding ของลูกค้าได้</font></h4>
        </td> 
         -->
             <!--   
         <td style="padding-left:5px;">   
           <h4 style="color:blue;">
        
           <font size="4">
           ธนาคารมีความจำเป็นต้องปรับปรุงระบบ CRM Salesforce ระหว่างวันที่ 4 – 17 สิงหาคม 2559  <br/>
           ดังนั้น ระบบฯ จะไม่สามารถใช้งานได้ในช่วงเวลา ต่อไปนี้ <br/>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•    จันทร์ – ศุกร์ ตั้งแต่เวลา 20:00 น. – 07:00 น. <br/>
           &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;•    เสาร์ – อาทิตย์และวันหยุดนักขัตฤกษ์ ระบบจะปิดตลอด 24 ชั่วโมง <br/>
           ขออภัยในความไม่สะดวกมา ณ ที่นี้
            </font>            
           </h4>
                
        </td>
      
      
         ------
        <td>
           
             <apex:image url="{!$Resource.CloseSystemMessage}" height="80" />    
            <font size="7"> วันอังคารที่ <h4 style="color:red;"> 26 ก.ค.2559 เวลา 20.00 น. </h4> ถึงวันพุธที่ <h4 style="color:red;">27 ก.ค. 2559 เวลา 8.00 น.</h4> เพื่อปรับปรุงระบบ ขอความร่วมมือผู้ใช้ระบบทุกท่าน<h4 style="color:red;">งดการใช้งาน</h4>ระบบ CRM ทั้ง Web Browser และ Mobile Application ในช่วงเวลาดังกล่าว... จึงเรียนมาเพื่อโปรดทราบและขออภัยในความไม่สะดวก          
           </font> 
        </td>
        <td style="padding-left:5px;">
            <apex:image url="{!$Resource.HotMessagePic2}" height="145" />
        </td>
        <td style="padding-left:5px;">
            <apex:image url="{!$Resource.HotMessagePic3}" height="145" />
        </td>
        <td style="padding-left:5px;">
            <apex:image url="{!$Resource.HotMessagePic4}" height="145" />
        </td>
        -->
     
    </tr>
</table>
 </Center>
<!--</marquee>  -->
</apex:page>