<apex:page standardController="Account" sidebar="false" standardstylesheets="true" extensions="AccountConsoleExtension" action="{!getOnHand}">
<apex:includeScript value="/support/console/34.0/integration.js"/>
<apex:includeScript value="{!$Resource.SFScript}"  /> 
<apex:includeScript value="{!URLFOR($Resource.TMBjquery, '/TMBassets/jquery/jquery-1.11.2.min.js')}"  />
         <style>
            .article {
               float: left;
               margin-top: 5px;
              <!-- margin: 5px;
               padding: 5px; -->
            }   
             
             .perf {
               <!--margin-top: 30px; -->
               
            }    
            .image {
              float: left;  
            }
               .data {
               float: left;
               margin: 10px;
               padding: 10px; 
            } 
            
             .article1 {
               margin-top: 10px;
              <!-- margin: 5px;
               padding: 5px; -->
            }   
             
         
            
               .data1 {
               margin: 5px;
               padding: 5px; 
            }    
    </style>
    
  

   
    <script type="text/javascript">
    
    var $j = jQuery.noConflict();  
    
            function checkIsSalesforceOne()
    {
        if ((typeof sforce.one != 'undefined') && (sforce.one != null) ) {
        
            $j("#mobile-wrapper").css('display','block');   
        }
      else{
           $j("#main-wrapper").css('display','block');
          }
    }
        
        
                $j(document).ready(function () {
           // Use to redirect if user used salesforce in salesforce1 application 
                    //alert("Ready");  
          checkIsSalesforceOne();          
                    
          });
 
</script>             
   <!--
   <div style="font-weight:bold">
        Product On Hand
    </div>
	-->

<script type="text/javascript">
function passParamToNavigate(link_url,link_name)
{
  if ((typeof sforce.one != 'undefined') && (sforce.one != null) ) {
      NavigateTo(link_url, link_name);
  }
  else if (sforce.console.isInConsole() ) {
      NavigateTo(link_url, link_name);
  }
  else{
      window.open(link_url,'_blank');
  }
}
</script>
   
<apex:form >
<div id="main-wrapper" style='display:none;'>          
<div class="table-responsive" style="padding-top:55px;">
<table width="100%">
<!--
<tr>
-->
  <apex:actionFunction action="{!TransBankReport}" name="actionTransBank" reRender="panelTransBank" />
  <apex:outputPanel id="panelTransBank">
    <apex:outputPanel rendered="{!isClickTransBank}">
      <script type="text/javascript">
        passParamToNavigate('{!pageTransBank}','Transactional Banking Report');
      </script>
    </apex:outputPanel>
  </apex:outputPanel>

	<div class="article">    
        <td width="5%" style="cursor:pointer" onclick="actionTransBank();">
            <!-- apex:commandlink action="{!TransBankReport}" target="_blank" -->
            <!-- <A HREF="#" onClick="NavigateTo('{!TransBankReportId}?pv1={!LEFT(acct.id,15)}','Transactional Banking Report');return false;">  --> 
            <div class="image">      
                <apex:image url="{!$Resource.Wallet3}" width="70" height="70"/>
            </div><!-- /apex:commandlink -->
    	</td>
    	<td width="20%" style="cursor:pointer" onclick="actionTransBank();">
            
            <!-- apex:commandlink action="{!TransBankReport}" target="_blank" -->
      <!--  <A HREF="#" onClick="NavigateTo('{!TransBankReportId}?pv1={!LEFT(acct.id,15)}','Transactional Banking Report');return false;">  --> 
            <div class="data">
            <table bgcolor="#CEF6F5" style="text-align:left;font-size:90%;">
              <tr>
                <td>
                        Total Limit: ฿
                        <apex:outputText value="{0, number, ###,##0.00}">
                            <apex:param value="{!TotalLimitTransBank}"/>
                        </apex:outputText>
                    </td>
                  </tr>
                  <tr>
    
                    <td>Total Amt: ฿<apex:outputText value="{0, number, ###,##0.00}">
                                            <apex:param value="{!TotalTransBank}"/>
                                        </apex:outputText></td>
                  </tr>
                <tr>

            	<td># Product: {!SumTransBank}</td>  
            </tr>
              <!-- CR036 comment by Fah <tr> 
                  <td># Account: {!SumActTransBank}</td>
              </tr> -->
			</table>    
            </div><!-- /apex:commandlink -->
    	</td>
    </div>


  <apex:actionFunction action="{!DepInvestReport}" name="actionDepInvest" reRender="panelDepInvest" />
  <apex:outputPanel id="panelDepInvest">
    <apex:outputPanel rendered="{!isClickDepInvest}">
      <script type="text/javascript">
        passParamToNavigate('{!pageDepInvest}','Deposit & Investment Report');
      </script>
    </apex:outputPanel>
  </apex:outputPanel>
    
    <div  class="article">    
    <td width="5%" style="cursor:pointer" onclick="actionDepInvest();">
        <!-- apex:commandlink action="{!DepInvestReport}" target="_blank" -->
        <!--<A HREF="#" onClick="NavigateTo('{!DepInvestReportId}?pv1={!LEFT(acct.id,15)}','Deposit & Investment Report');return false;"> -->
        <div class="image">      
    <apex:image url="{!$Resource.Wallet2}" width="70" height="70"/>
            </div><!-- </A> --><!-- /apex:commandlink -->
        </td>
    <td width="20%" style="cursor:pointer" onclick="actionDepInvest();">
        <!-- apex:commandlink action="{!DepInvestReport}" target="_blank" -->
        <!--<A HREF="#" onClick="NavigateTo('{!DepInvestReportId}?pv1={!LEFT(acct.id,15)}','Deposit & Investment Report');return false;"> -->
        <div class="data">
<table bgcolor="#CEF6F5" style="text-align:left;font-size:90%;">
  <tr>

      <td>Total Amt: ฿<apex:outputText value="{0, number, ###,##0.00}">
                            <apex:param value="{!TotalDepInvest}"/>
                        </apex:outputText></td>
  </tr>
  <tr>

       <td># Product: {!SumDepInvest}</td>
  </tr>
  <tr>

      <td># Account: {!SumActDepInvest}</td>
  </tr>
</table>    
            </div>  <!--</A> --><!-- /apex:commandlink -->
  
        </td>
    </div>
    <!--
    </tr>
    <tr>
    -->
  <apex:actionFunction action="{!FundBorrowReport}" name="actionFundBorrow" reRender="panelFundBorrow" />
  <apex:outputPanel id="panelFundBorrow">
    <apex:outputPanel rendered="{!isClickFundBorrow}">
      <script type="text/javascript">
        passParamToNavigate('{!pageFundBorrow}','Funding & Borrowing Report');
      </script>
    </apex:outputPanel>
  </apex:outputPanel>

     <div  class="article">       
    <td width="5%" style="cursor:pointer" onclick="actionFundBorrow();">
        <!-- apex:commandlink action="{!FundBorrowReport}" target="_blank" -->
        <!-- <A HREF="#" onClick="NavigateTo('{!FundBorrowReportId}?pv1={!LEFT(acct.id,15)}','Funding & Borrowing Report');return false;"> -->
        <div class="image">      
    <apex:image url="{!$Resource.Wallet1}" width="70" height="70"/>
            </div> <!--</A> --><!-- /apex:commandlink -->
         </td>
    <td width="20%" style="cursor:pointer" onclick="actionFundBorrow();">
        <!-- apex:commandlink action="{!FundBorrowReport}" target="_blank" -->
        <!-- <A HREF="#" onClick="NavigateTo('{!FundBorrowReportId}?pv1={!LEFT(acct.id,15)}','Funding & Borrowing Report');return false;"> -->
             <div class="data">
<table bgcolor="#F8E6E0" style="text-align:left;font-size:90%;">
  <tr>
    <td>Total Limit: ฿<apex:outputText value="{0, number, ###,##0.00}">
                            <apex:param value="{!TotalFundBorrow}"/>
                            </apex:outputText></td>
  </tr>
  <tr>
    <td># Product: {!SumFundBorrow}</td>
  </tr>
  <!--CR036 Comment by Fah <tr>
    <td># Account: {!SumActFundBorrow}</td>
  </tr>-->
</table>    
  </div> 
            <!-- </A> --><!-- /apex:commandlink -->
         </td>
    </div>    

  <apex:actionFunction action="{!RiskProtectReport}" name="actionRiskProtect" reRender="panelRiskProtect" />
  <apex:outputPanel id="panelRiskProtect">
    <apex:outputPanel rendered="{!isClickRiskProtect}">
      <script type="text/javascript">
        passParamToNavigate('{!pageRiskProtect}','Risk Protection Report');
      </script>
    </apex:outputPanel>
  </apex:outputPanel>  
        
     <div  class="article">        
    <td width="5%" style="cursor:pointer" onclick="actionRiskProtect();">
        <!-- apex:commandlink action="{!RiskProtectReport}" target="_blank" -->
        <!-- <A HREF="#" onClick="NavigateTo('{!RiskProtectReportId}?pv1={!LEFT(acct.id,15)}','Risk Protection Report');return false;"> -->
        <div class="image">      
    <apex:image url="{!$Resource.Wallet4}" width="70" height="70"/>
            </div><!-- </A>--><!-- /apex:commandlink -->
         </td>
    <td width="20%" style="cursor:pointer" onclick="actionRiskProtect();">
        <!-- apex:commandlink action="{!RiskProtectReport}" target="_blank" -->
        <!-- <A HREF="#" onClick="NavigateTo('{!RiskProtectReportId}?pv1={!LEFT(acct.id,15)}','Risk Protection Report');return false;"> -->
             <div class="data">
<table bgcolor="#F8E6E0" style="text-align:left;font-size:90%;">
  <tr>
    <td><!-- Total Amt: ฿<apex:outputText value="{0, number, ###,##0.00}">
                            <apex:param value="{!TotalRiskProtect}"/>
                            </apex:outputText> --></td>
  </tr>
  <tr>
    <td>
        Total Limit: ฿
        <apex:outputText value="{0, number, ###,##0.00}">
            <apex:param value="{!TotalLimitRiskProtect}"/>
        </apex:outputText>
    </td>
  </tr>
  <tr>
    <td># Product: {!SumRiskProtect}</td>
  </tr>
  <!--CR036 comment by Fah<tr>
    <td># Account: {!SumActRiskProtect}</td>
  </tr>-->
</table>    
  </div>
            <!-- </A> --><!-- /apex:commandlink -->
         </td>
    </div>
    <!--
    </tr>
    -->
    </table>
      </div>  <!-- Table Responsive-->
    </div> <!-- Main Wrapper -->
</apex:form>

    
    
    
    <!-- Mobile -->
    
    
    
    
<apex:form >
	<div id="mobile-wrapper" style='display:none;'> 
        
        <div  class="article1">
            <apex:commandlink action="{!TransBankReportMobile}"><!--<A HREF="#" onClick="NavigateTo('apex/ProductInfo_Domain1_Mobile?id={!acct.id}','Transactional Banking Report');return false;"> -->  
        	<div class="image">      
        		<apex:image url="{!$Resource.Wallet3}" width="50" height="50"/>
        	</div>
        
            <div class="data1">
                <table bgcolor="#CEF6F5" style="text-align:left;font-size:90%;">
                    <tr>
        
                    <td>Total Amt: ฿<apex:outputText value="{0, number, ###,##0.00}">
                                    <apex:param value="{!TotalTransBank}"/>
                                    </apex:outputText>
                    </td>
                    </tr>
                    <tr>
        
                    <td># Product: {!SumTransBank}</td>  
                    </tr>
                          <!-- CR036 comment by Fah <tr> 
                              <td># Account: {!SumActTransBank}</td>
                          </tr> -->
                </table>    
            </div>  <!--</A>-->
        	</apex:commandlink>
        </div>
            
        <div  class="article1"> 
        	<apex:commandlink action="{!DepInvestReportMobile}"><!--<A HREF="#" onClick="NavigateTo('apex/ProductInfo_Domain2_Mobile?id={!acct.id}','Deposit & Investment Report');return false;">-->
            <div class="image">      
        		<apex:image url="{!$Resource.Wallet2}" width="50" height="50"/>
        	</div>
        
        	<div class="data1">
    			<table bgcolor="#CEF6F5" style="text-align:left;font-size:90%;">
      				<tr>
    
          				<td>Total Amt: ฿<apex:outputText value="{0, number, ###,##0.00}">
                            <apex:param value="{!TotalDepInvest}"/>
                            </apex:outputText></td>
      				</tr>
      				<tr>
    
           				<td># Product: {!SumDepInvest}</td>
      				</tr>
      				<tr>
    
          				<td># Account: {!SumActDepInvest}</td>
      				</tr>
    			</table>    
         	</div>  <!--</A>-->
            </apex:commandlink>
         </div>
            
        <div  class="article1">  <!--<A HREF="#" onClick="NavigateTo('apex/ProductInfo_Domain3_Mobile?id={!acct.id}','Funding & Borrowing Report');return false;">--> 
        	<apex:commandlink action="{!FundBorrowReportMobile}">
            <div class="image">      
        		<apex:image url="{!$Resource.Wallet1}" width="50" height="50"/>
        	</div>
        
        	<div class="data1">
    			<table bgcolor="#F8E6E0" style="text-align:left;font-size:90%;">
      				<tr>
        				<td>Total Limit: ฿<apex:outputText value="{0, number, ###,##0.00}">
                                <apex:param value="{!TotalFundBorrow}"/>
                                </apex:outputText></td>
      				</tr>
      				<tr>
        				<td># Product: {!SumFundBorrow}</td>
      				</tr>
                          <!--CR036 Comment by Fah <tr>
                            <td># Account: {!SumActFundBorrow}</td>
                          </tr>-->
    			</table>    
        	</div> 
            </apex:commandlink>   <!-- </A> -->
        </div>
            
        <div  class="article1"> <!-- <A HREF="#" onClick="NavigateTo('apex/ProductInfo_Domain4_Mobile?id={!acct.id}','Risk Protection Report');return false;"> -->
            <apex:commandlink action="{!RiskProtectReportMobile}">  
            <div class="image">      
        		<apex:image url="{!$Resource.Wallet4}" width="50" height="50"/>
        	</div>
        
        	<div class="data1">
    			<table bgcolor="#F8E6E0" style="text-align:left;font-size:90%;">
      				<tr>
        				<td>
                            Total Limit: ฿
                            <apex:outputText value="{0, number, ###,##0.00}">
                                <apex:param value="{!TotalLimitRiskProtect}"/>
                            </apex:outputText>
                                <!--
                                 Total Amt: ฿<apex:outputText value="{0, number, ###,##0.00}">
                                                            <apex:param value="{!TotalRiskProtect}"/>
                                                            </apex:outputText>
                                -->
                        
                        </td>
      				</tr>
      				<tr>
                    	<td># Product: {!SumRiskProtect}</td>
                  	</tr>
                          <!--CR036 comment by Fah<tr>
                            <td># Account: {!SumActRiskProtect}</td>
                          </tr>-->
    			</table>    
            </div>
            </apex:commandlink>    <!-- </A> -->
        </div>
        
    </div> <!-- div Mobile wrapper -->
<br/>
</apex:form>
    <!--
  <div class="article1" style="font-weight:bold">
       <br/><br/>  Product Performance  <br/><br/>
 <A HREF="#" onClick="perf();return false">
    <apex:image url="{!$Resource.Performance_report}" width="230" height="64"/>
        </A>
    </div>  
    -->
    
     <script>
    function perf() {
        //alert("Performance");
         if ((typeof sforce.one != 'undefined') && (sforce.one != null) ) {
             //alert("Sf1");
            NavigateTo('apex/Performance_ReportMobile2?id={!acct.id}','Performance Report');
            
        }else{
            //window.location.href = ObjId;
            //alert("{!acct.id}".slice(0, - 3));
            NavigateTo('apex/Performance_Report2?id={!acct.id}','Performance Report');
            
        }
    }
    
        function reportclick1() {
        //alert("Performance");
        var acctid = '{!acct.id}'.slice(0, - 3);
        NavigateTo('{!CreditPipeReportId}?pc3=ACCOUNT_ID&pn3=eq&pv3='+acctid,'Credit Pipeline Report');
        }
    
    function reportclick2() {
        //alert("Performance");
        var acctid = '{!acct.id}'.slice(0, - 3);
        NavigateTo('{!CreditPipeReportId}?pc3=ACCOUNT_ID&pn3=eq&pv3='+acctid,'Credit Pipeline Report');
        }
    
    function reportclick3() {
        //alert("Performance");
        var acctid = '{!acct.id}'.slice(0, - 3);
        NavigateTo('{!CreditPipeReportId}?pc3=ACCOUNT_ID&pn3=eq&pv3='+acctid,'Credit Pipeline Report');
        }
    
    function reportclick4() {
        //alert("Performance");
        var acctid = '{!acct.id}'.slice(0, - 3);
        NavigateTo('{!CreditPipeReportId}?pc3=ACCOUNT_ID&pn3=eq&pv3='+acctid,'Credit Pipeline Report');
        }
    
    </script>
    
</apex:page>