<apex:page standardcontroller="Account" standardstylesheets="true" extensions="RetailCustomerExtension" tabstyle="Account">
    <apex:sectionheader title="{!$Label.Account_Edit}" subtitle="{!Account.Name}" />
    <apex:form >
        <apex:actionFunction name="cancelAcct" action="{!cancel}"/>
        <apex:pageblock title="{!$Label.Customer_Edit}" mode="edit">
            <apex:outputpanel id="statusMessage">
                <apex:pagemessages escape="false"></apex:pagemessages>
            </apex:outputpanel>
            <apex:pageblockbuttons >
                <apex:commandbutton action="{!save}" value="{!$Label.Save}" />
                <!-- <apex:commandbutton action="{!cancel}" value="{!$Label.Cancel}" />  -->
                <apex:commandbutton onclick="toAcctPage();return false;" value="{!$Label.Cancel}" />
                <script>
                    function toAcctPage() {
                        if(typeof sforce !== "undefined" && sforce !== null) {
                            // Salesforce1 navigation
                            var acctID = '{!Account.id}';
                            var retURL = '/001/o';
                            if(acctID != null && acctID !='') {
                                retURL = '/'+acctID;
                            }   
                            sforce.one.navigateToURL(retURL);
                            
                        } else {
                            // Desktop navigation
                            cancelAcct();
                        }
                    }
                </script>
            </apex:pageblockbuttons>
            <!--apex:pageblocksection title="{!$Label.Customer_Demographic}" columns="{!displayS1}">
                <apex:outputField value="{!Account.RTL_Customer_Title__c}" />
                <apex:outputField value="{!Account.ID_Type_PE__c }"/>
                <apex:outputField value="{!Account.First_name_PE__c }"/>
                <apex:outputField value="{!Account.RTL_NID__c }"/>
                <apex:outputField value="{!Account.Last_name_PE__c }"/>
                <apex:outputField value="{!Account.Nationality__c }"/>
                <apex:outputField value="{!Account.Customer_Name_PE_Eng__c }"/>
                <apex:outputField value="{!Account.RTL_No_of_Children__c }"/>
                <apex:outputField value="{!Account.RTL_Date_Of_Birth__c }"/>
                <apex:outputField value="{!Account.RTL_Income__c }"/>
            </apex:pageblocksection-->
            <!--apex:pageblocksection title="{!$Label.Customer_Relationship_Information}" columns="{!displayS1}">
                <apex:outputField value="{!Account.RTL_Actual_Product_Holding__c }"/>
                <apex:outputField value="{!Account.RTL_AUM__c }"/>
                <apex:outputField value="{!Account.RTL_Created_Branch__c }"/>
                <apex:outputField value="{!Account.RTL_Privilege1__c }"/>
                <apex:outputField value="{!Account.RTL_Suitability__c }"/>
                <apex:outputField value="{!Account.RTL_Privilege2__c }"/>
                <apex:outputField value="{!Account.RTL_FATCA__c  }"/>
                <apex:outputField value="{!Account.RTL_Sign_Up_Date__c }"/>           
                 <apex:outputField value="{!Account.RTL_Risk_Level__c }"/>
                <apex:outputField value="{!Account.RTL_RM_Name__c }"/>
                <apex:outputField value="{!Account.RTL_MIB_Status__c }"/>
                <apex:outputField value="{!Account.RTL_CSS_Rating__c }"/>                 
                <apex:inputField value="{!Account.Branch_and_Zone__c}"/>
            </apex:pageblocksection-->
            <apex:pageblocksection title="{!$Label.Personalized_Information}" columns="{!displayS1}" rendered="{!displayS1 != 1}">
                <apex:inputField value="{!Account.Hobbies__c}" tabOrderHint="1" id="tabIndex1"/>
                <apex:inputField value="{!Account.RTL_Special_Pref__c}" tabOrderHint="6" id="tabIndex2"/>
                <apex:inputField value="{!Account.Favorite_Sport__c}" tabOrderHint="2"/>
                <apex:inputField value="{!Account.RTL_Life_Objective_1__c}" tabOrderHint="7"/>
                <apex:inputField value="{!Account.RTL_Lifestyle__c}" tabOrderHint="3"/>
                <apex:inputField value="{!Account.RTL_Life_Objective_2__c}" tabOrderHint="8"/>
                <apex:inputField value="{!Account.RTL_Preferred_Activity__c}" tabOrderHint="4"/>
                <apex:inputField value="{!Account.RTL_Life_Objective_3__c}" tabOrderHint="9"/>
                <apex:inputField value="{!Account.RTL_Other1__c}" tabOrderHint="5"/>
                <apex:inputField value="{!Account.RTL_Other2__c}" tabOrderHint="10"/>
            </apex:pageblocksection>
            <apex:pageblocksection title="{!$Label.Personalized_Information}" columns="{!displayS1}" rendered="{!displayS1 == 1}">
                <apex:inputField value="{!Account.Hobbies__c}"/>
                <apex:inputField value="{!Account.Favorite_Sport__c}"/>
                <apex:inputField value="{!Account.RTL_Lifestyle__c}"/>
                <apex:inputField value="{!Account.RTL_Preferred_Activity__c}"/>
                <apex:inputField value="{!Account.RTL_Other1__c}"/>
                <apex:inputField value="{!Account.RTL_Special_Pref__c}"/>
                <apex:inputField value="{!Account.RTL_Life_Objective_1__c}"/>
                <apex:inputField value="{!Account.RTL_Life_Objective_2__c}"/>
                <apex:inputField value="{!Account.RTL_Life_Objective_3__c}"/>                                              
                <apex:inputField value="{!Account.RTL_Other2__c}"/>
            </apex:pageblocksection>            
            <apex:pageblocksection title="{!$Label.Contact_Number_and_Email_Address}" columns="{!displayS1}" rendered="{!displayS1 != 1}">
                <apex:inputField value="{!Account.RTL_Preferred_Contact_Channel__c }" tabOrderHint="11"/>
                <apex:inputField value="{!Account.RTL_Alternative_Contact_Channel__c }" tabOrderHint="12"/>
                <apex:outputField value="{!Account.C_Home_phone_PE__c }"/>
                <apex:inputField value="{!Account.RTL_Alternative_Number__c }" tabOrderHint="13"/>
                <apex:outputField value="{!Account.Mobile_Number_PE__c }"/>
                <apex:outputField value="{!Account.Email_Address_PE__c }"/>
                <apex:outputField value="{!Account.RTL_Office_Phone_Number__c }"/>
                <apex:outputField value="{!Account.RTL_Email_2__c }"/>
                <apex:outputField value="{!Account.Fax}"/>
            </apex:pageblocksection>
            <apex:pageblocksection title="{!$Label.Contact_Number_and_Email_Address}" columns="{!displayS1}" rendered="{!displayS1 == 1}">
                <apex:inputField value="{!Account.RTL_Preferred_Contact_Channel__c }"/>
                <apex:outputField value="{!Account.C_Home_phone_PE__c }"/>
                <apex:outputField value="{!Account.Mobile_Number_PE__c }"/>
                <apex:outputField value="{!Account.RTL_Office_Phone_Number__c }"/>
                <apex:outputField value="{!Account.Fax}"/>
                <apex:inputField value="{!Account.RTL_Alternative_Contact_Channel__c }"/>  
                <apex:inputField value="{!Account.RTL_Alternative_Number__c }"/> 
                <apex:outputField value="{!Account.Email_Address_PE__c }"/>             
                <apex:outputField value="{!Account.RTL_Email_2__c }"/>
            </apex:pageblocksection>            
            <apex:pageblocksection title="{!$Label.Alternate_Contact_Information}" columns="{!displayS1}" rendered="{!displayS1 != 1}">
                <apex:inputField value="{!Account.RTL_Contact_Person_Name_1__c }" tabOrderHint="14"/>
                <apex:inputField value="{!Account.RTL_Contact_Person_Name_2__c }" tabOrderHint="18"/>                
                <apex:inputField value="{!Account.RTL_Contact_Person_Number_1__c }" tabOrderHint="15"/> 
                <apex:inputField value="{!Account.RTL_Contact_Person_Number_2__c }" tabOrderHint="19"/>            
                <apex:inputField value="{!Account.RTL_Purpose_for_Contact1__c }" tabOrderHint="16"/>
                <apex:inputField value="{!Account.RTL_Purpose_of_Contact2__c }" tabOrderHint="20"/>                
                <apex:inputField value="{!Account.RTL_Relationship_Contact_1__c }" tabOrderHint="17"/>
                <apex:inputField value="{!Account.RTL_Relationship_Contact_2__c }" tabOrderHint="21"/>
            </apex:pageblocksection>            
            <apex:pageblocksection title="{!$Label.Alternate_Contact_Information}" columns="{!displayS1}" rendered="{!displayS1 == 1}">
                <apex:inputField value="{!Account.RTL_Contact_Person_Name_1__c }"/>
                <apex:inputField value="{!Account.RTL_Contact_Person_Number_1__c }"/>              
                <apex:inputField value="{!Account.RTL_Purpose_for_Contact1__c }"/>
                <apex:inputField value="{!Account.RTL_Relationship_Contact_1__c }"/>
                <apex:inputField value="{!Account.RTL_Contact_Person_Name_2__c }"/>
                <apex:inputField value="{!Account.RTL_Contact_Person_Number_2__c }"/>
                <apex:inputField value="{!Account.RTL_Purpose_of_Contact2__c }"/>
                <apex:inputField value="{!Account.RTL_Relationship_Contact_2__c }"/>
            </apex:pageblocksection>
            <!--apex:pageblocksection title="{!$Label.Address_Information}" columns="{!displayS1}">
                <apex:outputField value="{!Account.Primary_Address_Line_1_PE__c }"/>
                <apex:outputField value="{!Account.Office_Address_Line_1_PE__c }"/>
                <apex:outputField value="{!Account.Primary_Address_Line_2_PE__c}"/>
                <apex:outputField value="{!Account.Office_Address_Line_2_PE__c }"/>
                <apex:outputField value="{!Account.Primary_Address_Line_3_PE__c}"/>
                <apex:outputField value="{!Account.Office_Address_Line_3_PE__c }"/>
                <apex:outputField value="{!Account.Province_Primary_PE__c }"/>
                <apex:outputField value="{!Account.Province_Office_PE__c }"/>
                <apex:outputField value="{!Account.Zip_Code_Primary_PE__c }"/>
                <apex:outputField value="{!Account.Zip_Code_Office_PE__c }"/>
                <apex:outputField value="{!Account.Country_Primary_PE__c }"/>
                <apex:outputField value="{!Account.Country_Office_PE__c }"/>
                <apex:outputText ></apex:outputText>
                <apex:outputText ></apex:outputText>
                <apex:outputText ></apex:outputText>
                <apex:outputText ></apex:outputText>
                <apex:outputField value="{!Account.Registered_Address_Line_1_PE__c }"/>
                <apex:outputText ></apex:outputText>
                <apex:outputField value="{!Account.Registered_Address_Line_2_PE__c }"/>
                <apex:outputText ></apex:outputText>
                <apex:outputField value="{!Account.Registered_Address_Line_3_PE__c }"/>
                <apex:outputText ></apex:outputText>
                <apex:outputField value="{!Account.Province_Registered_PE__c }"/>
                <apex:outputText ></apex:outputText>
                <apex:outputField value="{!Account.Zip_Code_Registered_PE__c }"/>
                <apex:outputText ></apex:outputText>
                <apex:outputField value="{!Account.Country_Registered_PE__c }"/>
            </apex:pageblocksection-->
            <!--apex:pageblocksection title="{!$Label.Additional_Information}" columns="{!displayS1}">
                <apex:inputField value="{!Account.Name}"/>
                <apex:outputField value="{!Account.Account_Type__c}"/>
                <apex:outputField value="{!Account.OwnerId}"/>
            </apex:pageblocksection-->
        </apex:pageblock>
    </apex:form>
</apex:page>