<apex:page standardController="Account" extensions="RTL_CustomerRelationshipExtension" tabStyle="Account" docType="html-5.0" standardstylesheets="true">
  <!-- Begin Default Content REMOVE THIS -->
  <head>
     <apex:includescript value="/support/console/36.0/integration.js" />
     <style type="text/css">
          .sf1label {
            font-family: 'ProximaNovaSoft-Regular','Helvetica Neue';
            font-size: 15px;
            color: #3b5998;
            margin: 0;
            padding-bottom: 3px;
            display: block;
            min-width: 100px;
            }
          .sf1value {
            font-family: 'ProximaNovaSoft-Regular','Helvetica Neue';
            font-size: 13px;
            color: #696e71;
            margin: 0;
            padding-bottom: 3px;
            display: block;
            min-width: 100px;
            }
           textarea {
            resize: none;
            }
         .hasMotif{
            margin: 0;
            margin-left: -10px;
         }
         .bPageBlock.brandSecondaryBrd.bDetailBlock.secondaryPalette{
            margin-bottom: 0;
         }         
      </style>
  </head>
  <apex:form >
    <apex:outputPanel rendered="{!!isSF1}">
    <apex:pageBlock mode="maindetail" >
        <apex:pageBlockSection columns="2"> 
            <apex:pageBlockSectionItem >
                <apex:outputLabel value="{!$ObjectType.Account.Fields.RTL_Suitability__c.label}"></apex:outputLabel>
                <apex:outputText value="{!rtl_Suitability}"/>
            </apex:pageBlockSectionItem> 
            <apex:pageBlockSectionItem >
                <apex:outputLabel value="{!$ObjectType.Account.Fields.RTL_Privilege_URL2__c.label}"></apex:outputLabel>
                <apex:outputLink onclick="redirectExternalURL('{!rtl_Privilege2Url}','{!$ObjectType.Account.Fields.RTL_Privilege_URL2__c.label}');return false;" rendered="{!rtl_Privilege2Url != null}" >{!$Label.RTL_Click_Here}</apex:outputLink>         
            </apex:pageBlockSectionItem> 
           <apex:pageBlockSectionItem >
                <apex:outputLabel >{!$ObjectType.Account.Fields.RTL_MIB_Status__c.label}</apex:outputLabel>
                <apex:outputText value="{!rtl_MibStatus }"/>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputLabel value="{!$ObjectType.Account.Fields.RTL_Entitled_Privilege2__c.label}"></apex:outputLabel>
                <textarea rows="4" readonly="true" cols="55" >{!rtl_entitledPrivilege2}</textarea>        
            </apex:pageBlockSectionItem>  
            <apex:pageBlockSectionItem >
                <apex:outputText >&nbsp;</apex:outputText>
                <apex:outputText >&nbsp;</apex:outputText>
            </apex:pageBlockSectionItem>
            <apex:pageBlockSectionItem >
                <apex:outputLabel value="{!$ObjectType.Account.Fields.RTL_Privilege2__c.label}"></apex:outputLabel>
                <textarea rows="4" readonly="true" cols="55" >{!rtl_currentPrivilege2}</textarea>          
            </apex:pageBlockSectionItem> 
        </apex:pageBlockSection>                                     
    </apex:pageBlock>
  </apex:outputPanel>
  <apex:outputPanel rendered="{!isSF1}">
            <p class="sf1label">{!$ObjectType.Account.Fields.RTL_Suitability__c.label}</p>
            <p class="sf1value">{!rtl_Suitability}</p> 
            <p class="sf1label">{!$ObjectType.Account.Fields.RTL_MIB_Status__c.label}</p>
            <p class="sf1value">{!rtl_MibStatus}</p>     
            <p class="sf1label">{!$ObjectType.Account.Fields.RTL_Privilege_URL2__c.label}</p>
            <p class="sf1value"><apex:outputLink onclick="redirectExternalURL('{!rtl_Privilege2Url}','{!$ObjectType.Account.Fields.RTL_Privilege_URL2__c.label}');return false;" rendered="{!rtl_Privilege2Url != null}" >{!$Label.RTL_Click_Here}</apex:outputLink></p>
            <p class="sf1label">{!$ObjectType.Account.Fields.RTL_Entitled_Privilege2__c.label}</p>
            <p class="sf1value">{!rtl_entitledPrivilege2}</p> 
            <p class="sf1label">{!$ObjectType.Account.Fields.RTL_Privilege2__c.label}</p>
            <p class="sf1value">{!rtl_currentPrivilege2}</p>
  </apex:outputPanel>
  <!-- End Default Content REMOVE THIS --> 
  </apex:form>
    <script>
    function redirectExternalURL(url,pageName){
         if(sforce.console.isInConsole()){
             // In Sales Console
             //OpenTabPage(url,pageName);
             //the external URL must be whitelisted domain in "retail sales console"  
             //use null (_primaryTabId) to open a new primary tab
             //sforce.console.openPrimaryTab(null , url, true, pageName,openSuccess);
             window.open(url,'_blank');
         }else if((typeof sforce != 'undefined') && sforce && (!!sforce.one)){
             //In Salesforce1
             sforce.one.navigateToURL(url);
         }else{
             //Desktop Version
             //window.location.href = url;
             console.log('url' + url);
             window.open(url,'_blank');
         }
     }  
    </script>
  
</apex:page>