<apex:page standardController="Account" extensions="RTL_CampaignHistoryExtension" showHeader="false" sidebar="false">

<apex:outputPanel id="massTable">
	<apex:form >

		 		<div class="slds-form-element slds-m-around_small"  id="responsive" >

		 			<div class="slds-m-top_xxx-small">
		 			 	<div class="slds-text-heading_x-small">{!$Label.RTL_Campaign_History_Campaing_Mass}</div>
		 			</div>

		 	<apex:outputPanel rendered="{!(ISNULL(massCampaign) || massCampaign.size == 0)}" >
		                <div class="slds-m-around_xxx-small slds-m-left_small">
		                    <apex:outputText value="{!$Label.RTL_No_Record_Display}"  styleClass="noRowsHeader" />
		                </div>
		    </apex:outputPanel>

		    <apex:outputPanel rendered="{! (!ISNULL(massCampaign) && massCampaign.size > 0)}" >

			 		<div class="slds-m-top_xxx-small">
			            <table class="slds-table slds-table--bordered slds-table--cell-buffer slds-max-medium-table--stacked-horizontal slds-table_fixed-layout" style="text-align: center;font-size: 12px; width: 100%;">
			                <thead>
			                    <tr class="slds-text-title--caps slds-section-title--divider">
			                        <th class="slds-size_1-of-12" scope="col"> 
			                            <div class="slds-cell-wrap" title="{!$Label.RTL_Campaign_History_CampaignMemberLinkHeader}">
			                                {!$Label.RTL_Campaign_History_CampaignMemberLinkHeader}
			                            </div>
			                        </th>
			                        <th class="slds-size_1-of-12" scope="col"> 
			                            <div class="slds-cell-wrap" title="{!$Label.RTL_Campaign_History_CampaignCodeHeader}">
			                                {!$Label.RTL_Campaign_History_CampaignCodeHeader}
			                            </div>
			                        </th>
			                        <th class="slds-size_3-of-12" scope="col"> 
			                            <div class="slds-cell-wrap" title="{!$Label.RTL_Campaign_History_CampaignNameHeader}">
			                                {!$Label.RTL_Campaign_History_CampaignNameHeader}
			                            </div>
			                        </th>
			                        <th class="slds-size_1-of-12" scope="col"> 
			                            <div class="slds-cell-wrap" title="{!$Label.RTL_Campaign_History_CampaignStartDateHeader}">
			                                {!$Label.RTL_Campaign_History_CampaignStartDateHeader}
			                            </div>
			                        </th>
			                        <th class="slds-size_1-of-12" scope="col"> 
			                            <div class="slds-cell-wrap" title="{!$Label.RTL_Campaign_History_CampaignEndDateHeader}">
			                                {!$Label.RTL_Campaign_History_CampaignEndDateHeader}
			                            </div>
			                        </th>
			                        <th class="slds-size_1-of-12" scope="col"> 
			                            <div class="slds-cell-wrap" title="{!$Label.RTL_Campaign_History_CampaignStatusHeader}">
			                                {!$Label.RTL_Campaign_History_CampaignStatusHeader}
			                            </div>
			                        </th>
			                        <th class="slds-size_1-of-12" scope="col"> 
			                            <div class="slds-cell-wrap" title="{!$Label.RTL_Campaign_History_CampaignChannelHeader}">
			                                {!$Label.RTL_Campaign_History_CampaignChannelHeader}
			                            </div>
			                        </th>
			                        <th class="slds-size_3-of-12" scope="col"> 
			                            <div class="slds-cell-wrap" title="{!$Label.RTL_Campaign_History_CampaignOfferResultHeader}">
			                                {!$Label.RTL_Campaign_History_CampaignOfferResultHeader}
			                            </div>
			                        </th>
			                    </tr>
			                </thead>
			                <tbody>
			                <!--     <apex:variable value="{!1}" var="rowNum" /> -->
			                    <apex:repeat value="{!massCampaign}" var="mc" >


			                            <tr class="dataRow">

			                                <td data-label="{!$label.RTL_Campaign_History_CampaignMemberLinkHeader}" > 
			                                    <div class="slds-cell-wrap" title="">
			            
			                                    	<apex:outputLink value="/{!mc.camMemObj.id}" onClick="openTab('?id={!mc.camMemObj.id}','/apex/RTl_viewCampaignmember','Campaign Member');return false" 
			                                    	rendered="{! If(mc.camMemObj.id!=null,true,false) }"
			                                    	>{!$Label.RTL_Campaign_History_ViewDetail}</apex:outputLink>

			                                    </div>
			                                </td>

			                                <td data-label="{!$label.RTL_Campaign_History_CampaignCodeHeader}" > 
			                                    <div class="slds-cell-wrap" title="{!mc.camObj.RTL_Campaign_Code_10_digits__c}">
			                                    	<apex:outputText value="{!mc.camObj.RTL_Campaign_Code_10_digits__c}" />  
			                                    </div>
			                                </td>

			                                <td data-label="{!$label.RTL_Campaign_History_CampaignNameHeader}" > 
			                                    <div class="slds-cell-wrap" title="{!mc.camObj.Name}">
			                                       <apex:outputField value="{!mc.cam.CampaignId}" />
			                                    </div>
			                                </td>

			                                <td data-label="{!$label.RTL_Campaign_History_CampaignStartDateHeader}" > 
			                                    <div class="slds-cell-wrap" title="">
			                                    	<apex:outputField value="{!mc.camObj.StartDate}"/>
			                                       <!-- <apex:outputText value="{0,date, dd MMMM yyyy}"> 
		                                                <apex:param value="{!mc.camObj.StartDate}" /> 
		                                            </apex:outputText> -->
			                                    </div>
			                                </td>

			                                <td data-label="{!$label.RTL_Campaign_History_CampaignEndDateHeader}" > 
			                                    <div class="slds-cell-wrap" title="">
			                                    	<apex:outputField value="{!mc.camObj.EndDate}"/>
			                                       <!-- <apex:outputText value="{0,date, dd MMMM yyyy}"> 
		                                                <apex:param value="{!mc.camObj.EndDate}" /> 
		                                            </apex:outputText>   -->
			                                    </div>
			                                </td>

			                                <td data-label="{!$label.RTL_Campaign_History_CampaignStatusHeader}" > 
			                                    <div class="slds-cell-wrap" title="{!mc.camObj.status}">
			                                       <apex:outputText value="{!mc.camObj.status}" />  
			                                    </div>
			                                </td>

			                                <td data-label="{!$label.RTL_Campaign_History_CampaignChannelHeader}"> 
			                                    <div class="slds-cell-wrap" title="{!mc.camObj.RTL_Campaign_Channel_formula__c}">
			                                       <apex:outputText value="{!mc.camObj.RTL_Campaign_Channel_formula__c}" />  
			                                    </div>
			                                </td>

			                                <td data-label="{!$label.RTL_Campaign_History_CampaignOfferResultHeader}" > 
			                                	<apex:outputPanel rendered="{! If(mc.camMemObj.id!=null,true,false) }">
				                                    <div class="slds-cell-wrap" title="{!mc.camMemObj.RTL_Offer_Result__c}">
				                                       <apex:outputText value="{!mc.camMemObj.RTL_Offer_Result__c}" /> 
				                                    </div>
			                                	</apex:outputPanel>
			                                </td>
			                           
			                            </tr>
			                        <!-- <apex:variable var="rowNum" value="{!rowNum + 1}" /> -->
			                    </apex:repeat>
			                </tbody>	
			            </table>
			        </div>

		 			<div class="slds-m-top_small">
		 				<div class="slds-grid">
				 			<div class="slds-align_absolute-center">
		 						<div class="slds-grid slds-grid_vertical-align-start">
		 							<div class="slds-p-horizontal_medium slds-m-bottom_xxx-small slds-m-top_xxx-small slds-box slds-box_xx-small">
				 						<apex:commandLink action="{!previousMass}" rendered="{! !disablePreviousMass}" value="{!$Label.RTL_Campaign_History_Previous}" status="loadStatus" reRender="massTable" /> 
				 						<apex:outputText value="{!$Label.RTL_Campaign_History_Previous}" rendered="{! disablePreviousMass}" />  
				 					</div>

					 				<apex:repeat value="{!massPageList}" var="page">
					 					<div class="slds-p-horizontal_medium slds-m-bottom_xxx-small slds-m-top_xxx-small slds-box slds-box_xx-small">
					 						<apex:commandLink rendered="{! If(page!=massCampaignPage,true,false) }" 
					 							value="{!page}" status="loadStatus" reRender="massTable" 
					 							onclick="navigateMass({!page})"
					 						/> 
					 						<apex:outputText value="{!page}" rendered="{! If(page!=massCampaignPage,false,true) }" />   
					 					</div>
					 				</apex:repeat>

				 					<div class="slds-p-horizontal_medium slds-m-bottom_xxx-small slds-m-top_xxx-small slds-box slds-box_xx-small">
				 						<apex:commandLink action="{!nextMass}" rendered="{! !disableNextMass}" value="{!$Label.RTL_Campaign_History_Next}" status="loadStatus" reRender="massTable" />
				 						<apex:outputText value="{!$Label.RTL_Campaign_History_Next}" rendered="{! disableNextMass}" />   
				 					</div>

				 				</div>

						 				
					 		</div>
					 		<div class="slds-p-horizontal_medium slds-m-bottom_xxx-small slds-m-top_xxx-small slds-col_bump-left">
		 						{!$Label.RTL_Campaign_History_Page} {!massCampaignPage} {!$Label.RTL_Campaign_History_Of} {!massCampaignTotalPage}
		 					</div>
					 	</div>
			 		</div>
			</apex:outputPanel>
				</div>

        <apex:actionFunction name="navigateMass" action="{!navigateMass}" reRender="massTable">
		    <apex:param name="pageNo" assignTo="{!massCampaignPage}" value=""/>
		</apex:actionFunction>
    </apex:form>
</apex:outputPanel>	

</apex:page>