<apex:page applyBodyTag="false" showHeader="false" standardstylesheets="true" controller="RTL_HomeScreenCallListComponentCtrl" readonly="true">


	<head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <apex:includescript value="{!URLFOR($Resource.TMBjquery, '/TMBassets/jquery/jquery-1.11.2.min.js')}" />
    <apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap-namespaced.css')}"/> 

    
    <apex:includeScript value="/support/console/39.0/integration.js"/>

    <style type="text/css">
            @media (max-width: 500px) {
            
            .bootstrap-sf1 .form-horizontal .form-group {
            margin-left: -10px;
            margin-right: -10px;
            }
            .dateOnlyInput .dateFormat {
            
            top: 25px;
            
            }
            input[type="checkbox"], input[type="radio"] {
            
            height: 30px;
            width: 50px;
            }
            .bootstrap-sf1 .form-horizontal .checkbox{
            margin-bottom: 5px;
            }
            .bootstrap-sf1 .radio label, .bootstrap-sf1 .checkbox label {
            padding-left: 40px;
            }
            .bootstrap-sf1 .radio input[type="radio"], .bootstrap-sf1 .radio-inline input[type="radio"], .bootstrap-sf1 .checkbox input[type="checkbox"], .bootstrap-sf1 .checkbox-inline input[type="checkbox"] {
            position: absolute;
            margin-left: -45px;
            top:-5px;
            }
            
            .bootstrap-sf1{
            overflow: hidden;
            }
            .bootstrap-sf1 .container{
            padding-left :0px;
            padding-right:0px;
            }
            .bootstrap-sf1 .page-header[class*="context-"] {
                position: relative;
                padding-top: 14px;
                margin: -15px -15px 10px -15px;
            }
            
            
            }
            .bootstrap-sf1{
            background-color: #FFF;
            
            }
            
            /*<!-- Loading style -->*/
            
            
        </style>
        


    </head>
		
	<!-- Salesforce1 -->
    <div class="bootstrap-sf1" id="appearOnSF1" >
	            <!-- Campaign -->
	            <div class="page-header page-header-anchor context-recent">
	                <div class="container" style="padding-top: 10px;">
	                    <h1>Home</h1>             
	                    </div>
	            </div>

    			<div class="row">

			    	<!--Button Block-->
			    	<div class="col-xs-12 col-sm-12 col-md-12 col-xl-12" >
			    	
					<div class="bootstrap-sf1">
			            <div style="float:left; padding-left: 10px;">

						    <table  border="0" cellpadding="0" cellspacing="0" style="height:100%;">
				                <tr style="text-align: left;" >
				                    <td >
				                     
				                            <div style="float:left;padding-top:5px;">

				                            	<!--Code Referral Button-->
				                            	<a href="#" onclick="NavigateTo('{!reportPageReferral}','Referral')" 
				                            	class="btn btn-default" >
										      		<span class="glyphicon glyphicon-calendar" style="margin-right:5px;" ></span>
										      		{!$Label.RTL_New_Referral}
										      		<apex:outputPanel rendered="{!if(countNewReferral > 0,'true','false')}">
										     		<span class="badge" style="margin-left:5px;background-color:red;">{!countNewReferral}</span>
										     		</apex:outputPanel>
										       	</a>
										       <!--Code Referral Button End-->
				                            	
				                            	<apex:outputPanel rendered="{!showPendingCall}">
				                                <a href="#" onclick="NavigateTo('apex/RTL_CampaignCallList?mylist=1','Call List')" 
				                                class="btn btn-default" >
						      						<span class="glyphicon glyphicon-earphone" style="margin-right:5px;" ></span>
						      						{!$Label.RTL_Campaign_Home_Calllist}
						      						<apex:outputPanel rendered="{!if(sizeItemCallList > 0,'true','false')}">
						            				<span class="badge" style="margin-left:5px;background-color:red;">{!sizeItemCallList}</span>
						            				</apex:outputPanel>
					      						</a>
					      						</apex:outputPanel>
					      					
					      						<apex:outputPanel rendered="{!showItemToApprove}">
											    <a href="#" onclick="NavigateTo('04i','Items to Approve')" 
											    class="btn btn-default" >
										      		<span class="glyphicon glyphicon-pushpin" style="margin-right:5px;" ></span>
										      		{!$Label.RTL_Campaign_Home_ItemToApprove}
										      		<apex:outputPanel rendered="{!if(sizeItemToApprove > 0,'true','false')}">
										            <span class="badge" style="margin-left:5px;background-color:red;">{!sizeItemToApprove}</span>
										            </apex:outputPanel>
										       </a>
										       </apex:outputPanel>
											
												<apex:outputPanel rendered="{!showReassignButton}">
										       <a href="#" onclick="NavigateTo('apex/RTL_CampaignMemberReassign','Reassign Campaign Member')" 
										       class="btn btn-default" >
										      		<span class="glyphicon glyphicon-earphone" style="margin-right:5px;" ></span>
										      		{!$Label.RTL_Campaign_Home_Reassign}
										       </a>
										       </apex:outputPanel>

											</div> 
					                    </td>
					                </tr>
					           	</table>
						    </div>
						</div> 
					</div>
					<!--End Button Block-->


				<!--Table and Hotlink Block-->
				<div class="col-xs-12 col-sm-12 col-md-12 col-xl-12"  >
				<div class="bootstrap-sf1">
				<div style="float:left; width: 100%">
					<div class="row">
							<apex:outputPanel rendered="{!showTable}">
							<div class="col-xs-12 col-sm-6 col-md-4" id="campaignTable" >
							 	<div class="card" style="margin: 10px;">
					            	<table class="table" style="text-align: center;font-size: 12px; width: 100%; ">
					            		<tr bgcolor="#eeeeee"><td></td><td colspan="2"><b>รายชื่อโทรออก</b></td></tr>
					            		<tr bgcolor="#eeeeee"> 
					                		<td style="text-align: left;"><b>{!$Label.RTL_Campaign_Home_Campaign_Name}</b></td>
					                		<td><b>ทั้งหมด</b></td>
					                		<td><b>รอติดต่อ</b></td>
					            		</tr>
					            		<apex:repeat value="{!mapCampaign}" var="c">
					            			<tr>
					            				<td style="text-align: left;"> 
					            				<a href="#" onclick="NavigateTo('apex/RTL_CampaignCallList?id={!mapCampaign[c].campaignId}','Call List')">
					            				{!mapCampaign[c].campaignName}</a>
					            				</td>
					            				<td>{!mapCampaign[c].allCampaignNumber}</td>
					            				<td>{!mapCampaign[c].pendingCampaignNumber}</td>
					            			</tr>
					            		</apex:repeat>
					            	</table>
				            	</div>
					        </div>
					        </apex:outputPanel>
					        <div class="{!if(showTable,'col-xs-12 col-sm-6 col-md-8','col-xs-12 col-sm-12 col-md-12 col-xl-12')}" id="hotlink">
					        	 <div class="card" style="margin:10px">
						       	 	<table class="table" style="width:100%">
									  <tr>
									    <td colspan="2" bgcolor="#eeeeee" style="height:30px">
									       <font size="2">
									                <b>Hot Links to “CRM Retail Banking Minisite” : แหล่งรวมความรู้สำหรับพวกเราชาว CRM</b>
									       </font>
										    </td>
										</tr>
										  <tr>
										    <td style="height:30px">
										     <font size="2">                      
										               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.infahnet.tmb/minisite/crm/retail/Pages/default.aspx" style="color:black;" target="_blank">หน้าหลักของมินิไซต์ (Minisite Homepage)</a>
										     </font>
										     </td>
										    <td style="height:30px">
										     <font size="2">                      
										               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.infahnet.tmb/minisite/crm/retail/ks/default.aspx" style="color:black;" target="_blank">CRM Knowledge Sharing (แบ่งปันความรู้ดีๆ และ Tips เด็ดๆ)</a>
										     </font>
										    </td> 
										  </tr>
										  <tr>
										    <td style="height:30px">
										     <font size="2">                      
										               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.infahnet.tmb/minisite/crm/retail/Pages/Tutorial.aspx" style="color:black;" target="_blank">วีดีโอสอนการใช้งานระบบ (Video Tutorial)</a>
										     </font>
										    </td>
										    <td style="height:30px">
										     <font size="2">                      
										               &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="http://www.infahnet.tmb/minisite/crm/retail/Lists/FAQ/AllItems.aspx" style="color:black;" target="_blank">FAQ (คำถามสุดฮิต)</a>
										     </font>
										    </td> 
										  </tr>
									</table>
								</div>
					        </div>
				        </div>
			        </div>
			    </div>
			    </div>
				<!--End Table and Hotlink Block-->
			
			</div>
		</div>
	<!-- Salesforce1 -->


		


<!--Script-->

<apex:includeScript value="{!URLFOR($Resource.TMBjquery, '/TMBassets/jquery/jquery-1.11.2.min.js')}"  />
<apex:includeScript value="{!$Resource.AccountPlan_Bootstrap}"/>
<apex:includeScript value="{!$Resource.AccountPlan_Mustache}"/>
<apex:includeScript value="{!$Resource.momentJS}"/>
<apex:includeScript value="{!$Resource.SFScript}"  />   


<script type="text/javascript">
	
	var ObjId;
    var Title;

    /*$(document).ready(function(){  
            if( (typeof sforce != 'undefined') && (sforce != null) ) {
              console.log('mobile');
                $('#appearOnSF1').show();
                $('#appearOnDesktop').hide();
            }else{
              console.log('desktop');
                $('#appearOnSF1').hide();
                $('#appearOnDesktop').show();
            }    
        });*/


    function NavigateTo(ObjId,Title) {

        this.ObjId=ObjId;
        this.Title=Title;

            if ((typeof sforce.one != 'undefined') && (sforce.one != null) ) {
            
                    sforce.one.navigateToURL('/' + ObjId);
                
            }
            else if (sforce.console.isInConsole() ) {
                //First find the ID of the primary tab to put the new subtab in
                sforce.console.openPrimaryTab(null, ObjId, true,
                Title, openSuccess, ObjId);

                
            }
            else if (Title != 'New Task') {
                    if (ObjId != '')
                         window.open("/" + ObjId,"","width=800, height=600, toolbar=no, scrollbars=yes, resizable=yes");
            }

            else{
                //window.location.href = ObjId;
                window.open('/' + ObjId,'_top');
                
            }
    
    }
    var openSuccess = function openSuccess(result) {
            //Report whether opening the new tab was successful
            if (result.success == true) {
            } else {
            }
        };
</script>

<!--Script-->

</apex:page>