<apex:page controller="RTL_NBODetailCtrl" showchat="false" sidebar="false" showheader="false" standardstylesheets="true" tabstyle="Account">

<html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="x-ua-compatible" content="ie=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <!-- Import the Design System style sheet -->
        <apex:slds />
        <apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap-namespaced.css')}" />

        <!-- Includes Js -->
        <apex:includescript value="{!URLFOR($Resource.TMBjquery, '/TMBassets/jquery/jquery-1.11.2.min.js')}" />
        <apex:actionstatus onstart="startLoading('Loading ...');" id="status" onstop="endLoading();" />
        <!-- Salesconsole JS API -->
        <apex:includescript value="/support/console/39.0/integration.js" />
        
        
        <!-- Style for Ajax Request -->
        <style>
            .overlay {
            display: none;
            height: 100%;
            left: 0;
            position: fixed;
            top: 0;
            opacity: 0.3;
            -moz-opacity: 0.3;
            width: 100%;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
            filter: alpha(opacity=30);
            background: #000;
            -khtml-opacity: 0.3;
            z-index: 1000;
            }
            
            .loader {
            background: url('/img/loading32.gif') scroll no-repeat 50% 0;
            /* width: 32px;*/
            height: 32px;
            position: absolute;
            left: 48%;
            }
            
            .red-label {
            list-style: none;
            color: #f00;
            }
            .bootstrap-sf1{
            overflow: hidden;
            }
            .bootstrap-sf1 .paddingline{
                padding-top :5px;
            }
            .bootstrap-sf1{
            background-color: #FFF;
            
            }
            .bootstrap-sf1 .btn-block {
            display: block;
            width: 100%;
            text-align: center;
            }
            .bootstrap-sf1 .padding-label {
                padding-right: 20px;
                float: left; 
                width: 50%; 
                text-align: right;
            }
            .bootstrap-sf1 .padding-values {
                float: right; 
                text-align: left; 
                width: 50%;
            }
        </style>



    </head>
<body style="background-color: #FFF;">

    
    <div id="load_scrl" class="loadingBox loader" style="display:none"></div>
    <div class="loadingBox overlay"></div>

    <!-- // End Ajax Request -->

    <!-- REQUIRED SLDS WRAPPER -->
    <div class="slds-scope">

                <!-- PAGE HEADER -->
        <div class="slds-page-header">

          <!-- LAYOUT GRID -->
          <div class="slds-grid">

            <!-- GRID COL -->
            <div class="slds-col slds-has-flexi-truncate">
                <!-- HEADING AREA -->
                <!-- MEDIA OBJECT = FIGURE + BODY -->
                <div class="slds-media slds-no-space slds-grow">
                  <div class="slds-media__figure">
                    <svg aria-hidden="true" class="slds-icon slds-icon-standard-contact">
                      <use xlink:href="{!URLFOR($Asset.SLDS, '/assets/icons/standard-sprite/svg/symbols.svg#product')}"></use>
                    </svg>
                  </div>
                  <div class="slds-media__body">
                    <p class="slds-text-title--caps slds-line-height--reset">{!$Label.RTL_NBO}</p>
                    <h1 class="slds-page-header__title slds-m-right--small slds-align-middle slds-truncate" title="NBO">
                        {!ViewState.NBOHistory.RTL_Campaign_Name__c}
                    </h1>
                  </div>
                </div>
                <!-- / MEDIA OBJECT -->
                <!-- /HEADING AREA -->
            </div>

          </div>
          <!-- / LAYOUT GRID -->
        </div>
        <!-- / PAGE HEADER -->

        <!-- PRIMARY CONTENT WRAPPER -->
        <div >
            <!-- Main form -->
            <apex:form onkeypress="return noenter(event)">
            
                <!-- NBO Information  -->
                <div class="slds-form-element">
                    <h3 class="slds-section-title--divider">{!$Label.RTL_NBO_Information}</h3> 
                </div>
                
                <apex:outputPanel id="section1" >
                <div class="bootstrap-sf1">
                <div class="row" style="margin: 10px;">
                    
                    <!-- Row 1 -->
                    <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                    
                      <span class="padding-label"><apex:outputlabel value="{!$ObjectType.RTL_NBO_History__c.fields.RTL_Campaign_Code__c.Label}"/></span>
                      <div class="padding-values"><apex:outputField value="{!ViewState.NBOHistory.RTL_Campaign_Code__c}"/></div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                      <span class="padding-label"><apex:outputlabel value="{!$ObjectType.RTL_NBO_History__c.fields.RTL_Valid_From__c.Label}" /></span>
                      <div class="padding-values"><apex:outputField value="{!ViewState.NBOHistory.RTL_Valid_From__c }" /></div>
                    </div>


                    <!-- Row 2 -->
                    <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                      <span class="padding-label"><apex:outputlabel value="{!$ObjectType.RTL_NBO_History__c.fields.RTL_Campaign_Name__c.Label}" /></span>
                      <div class="padding-values"><apex:outputtext value="{!ViewState.NBOHistory.RTL_Campaign_Name__c}" /></div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                      <span class="padding-label"><apex:outputlabel value="{!$ObjectType.RTL_NBO_History__c.fields.RTL_Valid_To__c.Label}" /></span>
                      <div class="padding-values"><apex:outputField value="{!ViewState.NBOHistory.RTL_Valid_To__c }" /></div>
                    </div>


                    <!-- Row 3 -->
                    <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                      <span class="padding-label"><apex:outputlabel value="{!$ObjectType.RTL_NBO_History__c.fields.RTL_Channel__c .Label}" /></span>
                      <div class="padding-values"><apex:outputText value="{!ViewState.NBOHistory.RTL_Channel__c }" ></apex:outputText></div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                      <span class="padding-label"><apex:outputlabel value="{!$ObjectType.RTL_NBO_History__c.fields.RTL_Expired__c.Label}" /></span>
                      <div class="padding-values"><apex:outputfield value="{!ViewState.NBOHistory.RTL_Expired__c}" /></div>
                    </div>

                    <!-- Row 4 -->
                    <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                      <span class="padding-label"><apex:outputlabel value="{!$ObjectType.RTL_NBO_History__c.fields.RTL_Customer_Name__c.Label}" /></span>
                      <div class="padding-values"><apex:outputtext value="{!ViewState.NBOHistory.RTL_Customer_Name__r.Name}" /></div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                      <span class="padding-label"><apex:outputlabel value="{!$ObjectType.RTL_NBO_History__c.fields.RTL_Smart_Info__c.Label}" /></span>
                      <div class="padding-values"><apex:outputfield value="{!ViewState.NBOHistory.RTL_Smart_Info__c}"/></div>
                    </div>


                    <!-- Row 5 -->
                    <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                      <span class="padding-label"><apex:outputlabel value="{!$ObjectType.RTL_NBO_History__c.fields.RTL_Status__c.Label}" /></span>
                       <div class="padding-values"><apex:outputtext value="{!ViewState.NBOHistory.RTL_Status__c }" /></div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-6 paddingline">
                      <span class="padding-label"><apex:outputlabel value="{!$ObjectType.RTL_NBO_History__c.fields.RTL_Result_Business__c.Label}" /></span>
                      <div class="padding-values"><apex:outputfield value="{!ViewState.NBOHistory.RTL_Result_Business__c}" /></div>
                    </div>

                </div>
                </div>
                </apex:outputPanel>
                <!--/NBO Information  -->

                <!-- NBO Product Information  -->
                <div class="slds-form-element">
                    <h3 class="slds-section-title--divider">{!$Label.RTL_NBO_Product}</h3> 
                </div>
                 <div class="slds-form-element slds-m-around--medium slds-m-top--large"  id="responsive" >
                    <apex:outputPanel id="section5" >
                        <table class="slds-table slds-table--bordered slds-table--cell-buffer slds-max-medium-table--stacked-horizontal" style="text-align: center;font-size: 12px; width: 100%;">
                            <thead>
                            <tr class="slds-text-title--caps slds-section-title--divider"> 
                                <th scope="col"> {!$Label.Action} </th>
                                <th scope="col"> {!$ObjectType.RTL_NBO_History_Product__c.fields.RTL_Product_Group__c.Label} </th>
                                <th scope="col"> {!$ObjectType.RTL_NBO_History_Product__c.fields.RTL_Product_SubGroup__c.Label}</th>
                                <th scope="col"> {!$ObjectType.RTL_NBO_History_Product__c.fields.RTL_Product__c.Label} </th>
                                <th scope="col"> {!$Label.RTL_Selling_Tips}</th>
                                <th scope="col"> {!$ObjectType.RTL_NBO_History_Product__c.fields.RTL_Status__c.Label} </th>
                                <th scope="col"> {!$ObjectType.RTL_NBO_History_Product__c.fields.RTL_Reject_Reason__c.Label} </th>
                                <th scope="col"> {!$ObjectType.RTL_NBO_History_Product__c.fields.RTL_Opportunity__c.Label} </th>
                            </tr>
                            </thead>
                            <tbody>

                            <apex:repeat value="{!ViewState.validNBOProductList}" var="nboProduct" id="NBOtable">
                                <tr class="dataRow">
                                    <td data-label="{!$Label.Action}"> 
                                        <apex:outputPanel >
                                        <apex:outputLink onclick="redirectURL('/{!nboProduct.id}','{!nboProduct.RTL_Product_Group__c }');return false;" value="">{!$Label.View}</apex:outputLink>
                                        </apex:outputPanel>
                                    </td>
                                    <td data-label="{!$ObjectType.RTL_NBO_History_Product__c.fields.RTL_Product_Group__c.Label}"> 
                                        <apex:outputtext value="{!nboProduct.RTL_Product_Group__c }"  />   
                                    </td>
                                    <td data-label="{!$ObjectType.RTL_NBO_History_Product__c.fields.RTL_Product_SubGroup__c.Label}"> 
                                        <apex:outputtext value="{!nboProduct.RTL_Product_SubGroup__c  }" />
                                    </td>
                                    <td data-label="{!$ObjectType.RTL_NBO_History_Product__c.fields.RTL_Product__c.Label}"> 
                                        <apex:outputtext value="{!nboProduct.RTL_Product__c  }" />
                                    </td>
                                    <td data-label="{!$Label.RTL_Selling_Tips}"> 
                                        <apex:outputPanel rendered="{!ISBLANK(nboProduct.RTL_Product_Smart_Info__c)}">
                                            <apex:outputfield value="{!nboProduct.RTL_Product_Smart_Info__c}"/>
                                        </apex:outputPanel>
                                        <apex:outputPanel rendered="{!NOT(ISBLANK(nboProduct.RTL_Product_Smart_Info__c))}">
                                        <apex:outputLink onclick="redirectExternalURL('{!nboProduct.RTL_Product_Smart_Info__c}','{!$Label.RTL_Selling_Tips}');return false;" >{!$Label.RTL_Selling_Tips}</apex:outputLink>
                                        </apex:outputPanel>
                                    </td>
                                    <td data-label="{!$ObjectType.RTL_NBO_History_Product__c.fields.RTL_Status__c.Label} "> 
                                        <apex:outputField value="{!nboProduct.RTL_Status__c  }" />
                                    </td>
                                    <td data-label="{!$ObjectType.RTL_NBO_History_Product__c.fields.RTL_Reject_Reason__c.Label}"> 
                                        <apex:outputField value="{!nboProduct.RTL_Reject_Reason__c  }" />
                                    </td>
                                    <td data-label="{!$ObjectType.RTL_NBO_History_Product__c.fields.RTL_Opportunity__c.Label}"> 
                                        <apex:outputField value="{!nboProduct.RTL_Opportunity__c  }"/> 
                                    </td>
                                </tr>
                            </apex:repeat>
                            </tbody>
                        </table>

                    </apex:outputPanel>
                 </div>

            </apex:form>
        </div>
        <!-- / PRIMARY CONTENT WRAPPER -->

    </div>

  </body>   

  <!-- JAVASCRIPT -->
    <apex:includescript value="{!$Resource.AccountPlan_Bootstrap}" /> 

    <script>
        // Global variable
    var _isInConsole = false;
    var _isInSF1 = false;
    var _primaryTabId ='';
    var _customername = '{!ViewState.NBOHistory.RTL_Campaign_Name__c}';
 
    function startLoading(text){
        $('#load_scrl').css('top', $(document).scrollTop() + 200).html(text);
        $('.loadingBox').show();
    }
    function endLoading(){
        $('.loadingBox').hide();
        hideNormalLink();
    }
    
    function redirectURL(url,pageName){
            if(_isInConsole){
                // In Sales Console
                OpenTabPage(url,pageName);
                
            }else if(_isInSF1){
                //In Salesforce1
                sforce.one.navigateToURL(url);
            }else{
                //Desktop Version
                window.location.href = url;
            }
            //endLoading();
     }
    /*-------------------------------------------------------------------------
            Salesforce :  Sale Console Js
        ---------------------------------------------------------------------------*/
    function IsInConsole() {

        if (sforce.console.isInConsole()) {
            _isInConsole = true;
            _isInSF1 = false;
            // Then get primary tab id
            sforce.console.getEnclosingPrimaryTabId(MainTabId);
            sforce.console.setTabTitle(_customername);

        }
        // Ref. https://developer.salesforce.com/docs/atlas.en-us.salesforce1.meta/salesforce1/vf_dev_best_practices_pages_multipurpose.htm
        else if( (typeof sforce != 'undefined') && sforce && (!!sforce.one) ) {
            _isInConsole = false;
            _isInSF1 = true;

        }
        else {
            _isInConsole = false;
            _isInSF1 = false;
        }

        console.log('_isInConsole = ' +  _isInConsole);
         console.log('_isInSF1 = ' +  _isInSF1);


    }
    function hideNormalLink(){
        if(_isInConsole){
            // In Sales Console
            $('.normallink').hide();
            $('.console').show();
            $('.sf1').hide();
        }else if(_isInSF1){
            // In Salesforce1
            $('.normallink').hide();
            $('.console').hide();
            $('.sf1').show();
        }else{
            // Normal web
            $('.normallink').show();
            $('.console').hide();
            $('.sf1').hide();
        }
    }
    function OpenTabPage(url,pagename){

        // Open new sub tab
        sforce.console.openSubtab(_primaryTabId , url, true, pagename, null, openSuccess, _customername+pagename);
    }
    
    var MainTabId = function getMainTabId(result  /* primary tab info */) {
        //Now that we have the primary tab ID, we can open a new subtab in it
        _primaryTabId = result.id;
    };
    var openSuccess = function openSuccess(result) {
        //Report whether we succeeded in opening the subtab
        if (result.success == true) {
        } else {
        }
    };
    
     function redirectExternalURL(url,pageName){
         if(_isInConsole){
             // In Sales Console
             //OpenTabPage(url,pageName);
             //the external URL must be whitelisted domain in "retail sales console"  
             //use null (_primaryTabId) to open a new primary tab
             //sforce.console.openPrimaryTab(null , url, true, pageName,openSuccess);
             window.open(url, pageName);
         }else if(_isInSF1){
             //In Salesforce1
             sforce.one.navigateToURL(url);
         }else{
             //Desktop Version
             //window.location.href = url;
             window.open(url, pageName);
         }
     } 

    /*-------------------------------------------------------------------------
            Salesforce :  Main Function
        ---------------------------------------------------------------------------*/
    $(document).ready(function () {
        $('.normallink').hide();
        $('.console').hide();
        //Check Application
        IsInConsole();
        // On Pageload send ajax request

        //doRest();
        hideNormalLink(); 
        if( (typeof sforce != 'undefined') && sforce && (!!sforce.one) ) {
            $('.sf1_bk').show();            
        }
    });
    </script>

    <!-- / JAVASCRIPT -->
    </html>
</apex:page>