<apex:page showChat="false" tabStyle="Opportunity"  standardStylesheets="true"
           standardController="Opportunity"
           extensions="SubmitForApprovalExtensionV2" docType="html-5.0" action="{!updateProductGroup}">
    <html xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w4.org/1999/xlink">
        
        <head>
            <meta http-equiv="x-ua-compatible" content="ie=11"/>
            <apex:includeScript value="{!URLFOR($Resource.TMBjquery, '/TMBassets/jquery/jquery-1.11.2.min.js')}"  />
            <apex:stylesheet value="{!URLFOR($Resource.sfLightningVF, 'assets/styles/salesforce-lightning-design-system-vf.css')}" />
            
            <apex:stylesheet value="{!URLFOR($Resource.bootstrapsf1, 'dist/css/bootstrap-namespaced.css')}"/>
            <apex:stylesheet value="{!URLFOR($Resource.boostrapex)}"/>
            <apex:stylesheet value="{!URLFOR($Resource.AccountPlanEditTable)}"/>
            <apex:includescript value="{!$Resource.AccountPlan_JqueryScript}" />
            <apex:includescript value="{!$Resource.AccountPlan_Bootstrap}" />
            <apex:includeScript value="{!$Resource.AccountPlan_Mustache}"/> 
            <apex:includeScript value="/support/console/22.0/integration.js"/>
            <apex:stylesheet value="{!URLFOR($Resource.SLOS)}"/>
            <style>
                .bootstrap-sf1{
                    display: table;
                }
            </style>
        </head>
        
        <body>
            <apex:form styleclass="slds-form--stacked" id="frm">
                
                <apex:includeLightning />
                
                <apex:actionStatus id="status" onstart="ShowSpin()" onstop="HideSpin()"> </apex:actionStatus>
                
                
                <div class="slds"> 
                    <!-- spin -->
                    <div id="spin" style="display:block;" class="slds-spinner_container">
                        <div class="slds-spinner--brand slds-spinner slds-spinner--large" aria-hidden="false" role="alert">
                            <div class="slds-spinner__dot-a"></div>
                            <div class="slds-spinner__dot-b"></div>
                        </div>
                    </div> 
                    <!--HEADER-->
                    <div class="slds-page-header" role="banner">
                        <div class="slds-grid">
                            <div class="slds-col">
                                <div class="slds-media">
                                    
                                    <div class="slds-media__figure">
                                        <span class="slds-icon__container slds-icon__container--circle slds-icon-standard-approval">
                                           <span class="bootstrap-sf1">
                                                     <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span>
                                                </span>
                                        </span>
                                        
                                    </div>
                                    
                                    <div class="slds-media__body">
                                        <p class="slds-text-heading--label">Opportunity</p>
                                        <h1 class="slds-text-heading--small">
                                            <apex:outputPanel >Submit For Approval</apex:outputPanel>
                                        </h1>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                    <!--END HEADER-->
                    <apex:outputPanel id="errors">
                        
                            <apex:pageMessages escape="false" ></apex:pageMessages>
                        
                    </apex:outputPanel>
                    <!--CONTAINER-->
                    <div class="slds-grid slds-grid--align-center slds-m-around--medium ">
                        <div class="slds-size--1-of-2">
                            
                            <div  id="actFrm" aria-labelledby="newaccountform" >
                                <fieldset class="slds-box slds-theme--default ">
                                    <legend id="Submit" class=" slds-p-vertical--small slds-text-heading--label bootstrap-sf1">
                                        <apex:outputPanel >Submit To System 
                                            <span class="glyphicon glyphicon-question-sign" data-toggle="tooltip" data-delay='{"show":"0", "hide":"100"}'
                                              data-animation="false" data-placement="bottom" 
                                              title="{!$ObjectType.Opportunity.Fields.Submit_To_System__c.inlineHelpText}" />
                                        </apex:outputPanel>
                                        
                                    </legend>
                                     
                                     
                                    <div class="slds-form-element" style="text-align: center;">
                                        
                                         <apex:outputPanel rendered="{!if ( oppt.Host_System__c!='',true,false)}" >
                                                  <apex:outputField value="{!hostTemp.Host_Name__c}" rendered="{!isHasProduct}"/>
                                                  <div style="display: {!if(!isHasProduct,'block;','none')}">
                                                  <apex:inputField value="{!hostTemp.Host_Name__c}" onchange="loading()" styleClass="slds-input" />
                                                  </div>
                                          </apex:outputPanel>
                                           <apex:outputPanel rendered="{!if (oppt.Host_System__c=='',true,false)}">
                                              <apex:inputField value="{!hostTemp.Host_Name__c}" onchange="loading()" styleClass="slds-input"/>
                                          </apex:outputPanel>
                                    </div>
                                    <apex:actionFunction action="{!cancel}" name="cancelDesktop"/>
                                    <div class="slds-text-align--center slds-m-top--medium" >
                                        <div class="slds-form-element" >
                                        <apex:outputPanel >
                                            <apex:commandButton styleClass="slds-button slds-button--brand" rendered="{! !isError}" id="btnSubmit" value="Submit"  action="{!submitSystem}" status="status" reRender="errors"/>                                                
                                            <apex:commandButton styleClass="slds-button slds-button--brand" id="btnCancel" value="Cancel" onclick="cancel();" status="status" oncomplete="HideSpin()" />
                                            </apex:outputPanel>
                                        </div> 
                                    </div>                                         
                                    
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <!--END CONTAINER-->
                </div>
            </apex:form>
            
            
            <apex:includeScript value="/support/console/36.0/integration.js"/>
            <script>
            //ShowSpin();

            var $j = jQuery.noConflict(); 
    
            $j(document).ready(function () {                
                $j('[data-toggle="tooltip"]').tooltip();
                $j('.tooltip-inner').css('background-color', '#fff1de !important');
                HideSpin();
                setTitle();
            });

            var _maintab;
            function ShowSpin(){
                $j('#spin').show();
            }
            function HideSpin(){
                $j('#spin').hide();          
            }     
            //Sets the title of the current tab to "Case Transactions Detail"
           /* window.onload = function setTitleConsole(){
                setTitle();
                
            }*/
            //Sets the title of the current tab to "Case Transactions Detail"
            function setTitle() {
                sforce.console.setTabTitle('Submit For Approval');
            }  
            function cancel() {
                ShowSpin();
                //First find the ID of the current tab to close it
                if ((typeof sforce.one != 'undefined') && (sforce.one != null) ){
                    sforce.one.navigateToSObject('{!oppt.Id}' );
                }else{
                   if(sforce.console.isInConsole()){
                         sforce.console.setTabTitle("{!oppt.name}");
                    }
                    cancelDesktop();

                }
                //sreturn false;
            }            
            var closeSubtab = function closeSubtab(result) {
                //Now that we have the tab ID, we can close it
                var tabId = result.id;
                sforce.console.closeTab(tabId);
            };   
            /**********************************************************************
            * JS get main tab id
            ***********************************************************************/
            
            function getMainTabId() {
                //First find the ID of the current primary tab to close it
                sforce.console.getEnclosingPrimaryTabId(mainTab);
            }
            
            var mainTab = function mainTab(result) {
                //Now that we have the primary tab ID, we can close it
                _maintab = result.id;                
                console.log('main tab id ' + _maintab);                
            };
            
            
            /**********************************************************************
            * JS Refresh main tab in sale console
            ***********************************************************************/
            function refreshPrimaryTabById() {
                //Get the value for 'scc-pt-0' from the openPrimaryTab method
                //This value is for example purposes only               
                sforce.console.refreshPrimaryTabById(_maintab, true, refreshSuccess);
            }
            
            var refreshSuccess = function refreshSuccess(result) {
                //Report whether refreshing the primary tab was successful
                if (result.success == true) {
                    // alert('Primary tab refreshed successfully');
                    closeTab(); 
                } else {
                    // alert('Primary did not refresh');
                }
            };
            
            function jsProxySubmit(){                
               // console.log('submit');
                jsSubmit();
                return false;
            }  
            
            
            function proxyRedirect(){
                //console.log('proxyRedirect');
                if(_isRefresh){
                    refreshPrimaryTabById();        
                }
                return fales;               
            }
            getMainTabId();
            </script>
        </body>
    </html>
</apex:page>